*{
	box-sizing: border-box;
}

#header-nav{
	background-color: rgb(194, 252, 210);
	border-radius: 0;
	border: 0;
	padding: 0;
}

nav > .container {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand a:hover{
	text-decoration: none;
}

.d-block {
    background-color:#c4c8cf; 
    margin: 20px;
}

#navbarNav {
    background-color: rgb(66, 135, 245);
    padding: 10px;
}

#heading {
    margin: 20px;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

div.d-block {
    height: 1000px;
}

p {
    color: rgb(66, 135, 245);
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: bold;
    padding: 10px;
}

section {
    padding: 10px;
}


#navbarNav li {
    text-align: center;
}

